{% autoescape None %}
<html>
 <head> 
 {% include "header.html" %}
 {% include "header_css.html" %}
 </head> 
 <body class="home-template"> 
  <header class="main-header"> 
   <div class="container"> 
    <div class="row"> 
     <div class="col-sm-12"> 
      <h1>plusplus7's blog</h1>  
      <h3>Life is tough, take it easy : )</h3> 
     </div> 
    </div> 
   </div> 
  </header> 
  <nav class="main-navigation"> 
   <div class="container"> 
    <div class="row"> 
     <div class="col-sm-12"> 
      <div class="navbar-header"> 
       <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu"> <span class="sr-only">Toggle navigation</span> <i class="fa fa-bars"></i> </span> 
      </div> 
      <div class="collapse navbar-collapse" id="main-menu"> 
       <ul class="menu"> 
         <li role="presentation"><a href="/"> 回到主页 </a></li> 
         <li role="presentation"><a href="/nimda"> 源码模式 </a></li> 
         <li role="presentation"><a href="/nimda_light"> 轻量模式 </a></li> 
         <li role="presentation" id="b_exit_preview"><a href="javascript:void(0)"> 退出预览 </a></li> 
       </ul> 
      </div> 
     </div> 
    </div> 
   </div>
  </nav>
  <div class="container" id="editor_page">
    <div class="row">
      <aside class="col-md-3 sidebar">
        <div class="widget">
         <h4 class="title"> 追忆の神殿 </h4>
          <div class="content community">
            <div class="list-group">
              <p><a id="p_add_post" class="list-group-item active"> 添加文章 </a></p>
              <p><a id="p_add_area" class="list-group-item"> 添加分类 </a></p>
            </div>
          </div>
        </div>
        <div class="widget">
         <h4 class="title"> 圣光の灵 </h4>
          <div class="content community">
          <div class="list-group">
              <p><a id="p_manage_section" class="list-group-item"> 管理分区 </a></p>
              <p><a id="p_manage_area" class="list-group-item"> 管理分类 </a></p>
              <p><a id="p_manage_user" class="list-group-item"> 管理账号 </a></p>
              </div>
          </div>
        </div>
      </aside>
      <main id="main" class="col-md-9 main-content">
        <div id="m_add_post" class="panel panel-default">
          <div class="panel-body">
            <form method="post" action="/nimda/add_post">
              <div class="form-group">
                <label class="control-label" for="InputPostId">文章ID</label>
                {% if article != None %}
                    <textarea class="form-control" rows="1" name="postid">{{ article }}</textarea>
                {% else %}
                    <textarea class="form-control" rows="1" name="postid"></textarea>
                {% end %}
              </div>
              <div class="form-group">
                <label class="control-label" for="inputPreview">文章概览</label>
                {% if article_prev != None %}
                <textarea class="form-control" rows="2" name="preview" id="t_preview_code">{{ article_prev }}</textarea>
                {% else %}
                <textarea class="form-control" rows="2" name="preview" id="t_preview_code">
                  <article id="52" class="post tag-laravel-5-1 tag-artisan">
                    <div class="post-head">
                      <h1 class="post-title"><a href="/blog/post/[文章ID]">[文章标题]</a></h1>
                      <div class="post-meta">
                        <span class="author">作者：<a href="http://plusplus7.com/blog">[作者名字]</a></span> •
                        <time class="post-date">[时间戳]</time>
                      </div>
                    </div>
                    <div class="post-content">
                      <p> [概览内容] </p>
                    </div>
                    <div class="post-permalink">
                      <a href="/blog/post/[文章ID]" class="btn btn-default">阅读全文</a>
                    </div>
                    </article>
                </textarea>
                {% end %}
              </div>
               <div class="form-group">
                <button type="button" class="btn" id="b_preview_postpreview">预览</button>
               </div>
              <div class="form-group">
              <label class="control-label" for="inputSuccess1">文章分类</label>
              <select class="form-control" name="area">
                {% for area in area_list %}
                 <option value="{{ area["id"] }}"> {{ area["name"] }}</option>
                {% end %}
                 <option value="NoArea"> 暂不添加分类 </option>
              </select>
              </div>
              <div class="form-group">
              <label class="control-label" for="inputSuccess1">文章正文</label>
                {% if article_post != None %}
              <textarea class="form-control" rows="5" name="post" id="t_post_code">{{ article_post }}</textarea>
                {% else %}
              <textarea class="form-control" rows="5" name="post" id="t_post_code">
                <article id="52" class="post tag-laravel-5-1 tag-artisan">
                    <div class="post-head">
                      <h1 class="post-title"><a href="/blog/post/[文章ID]">[文章标题]</a></h1>
                      <div class="post-meta">
                        <span class="author">作者：<a href="plusplus7.com/blog">[作者名字]</a></span> •
                        <time class="post-date">[时间戳]</time>
                      </div>
                    </div>
                    <div class="post-content">
                      <p> [正文内容] </p>
                    </div>
                </article>
              </textarea>
                {% end %}
              </div>
              <div class="form-group">
                <button type="button" class="btn" id="b_preview_post">预览</button>
               </div>
               <div class="form-group">
                <label for="exampleInputPassword1">身份验证码</label>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-danger">提交</button>
               </div>
            </form>
          </div>
        </div>
        <div id="m_add_area" class="panel panel-default">
          <div class="panel-body">
            <form method="post" action="/nimda/add_area">
              <div class="form-group">
                <label class="control-label" for="InputAreaId">分类ID</label>
                <textarea class="form-control" rows="1" name="areaid"></textarea>
              </div>
              <div class="form-group">
                <label class="control-label" for="InputAreaName">分类名</label>
                <textarea class="form-control" rows="1" name="areaname"></textarea>
              </div>
              <div class="form-group">
                <label class="control-label" for="InputType">类型</label>
                <div class="radio">
                 <label>
                   <input type="radio" name="type" id="section" value="0" checked>
                   普通分类
                 </label>
               </div>
                <div class="radio">
                 <label>
                   <input type="radio" name="type" id="section" value="1">
                    分栏
                 </label>
               </div>
                <div class="radio">
                 <label>
                   <input type="radio" name="type" id="section" value="-1">
                    专栏
                 </label>
               </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="InputSection">分区</label>
                <div class="radio">
                 <label>
                   <input type="radio" name="section" id="section" value="blog" checked>
                    博客区
                 </label>
               </div>
                <div class="radio">
                 <label>
                   <input type="radio" name="section" id="section" value="game">
                   游戏区 
                 </label>
               </div>
              </div>
               <div class="form-group">
                <label for="exampleInputPassword1">身份验证码</label>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-danger">提交</button>
               </div>
            </form>
          </div>
        </div>
        <div id="m_manage_section" class="panel panel-default">
          <div class="panel-body">
            <form method="post" action="/nimda/set_blog_arealist">
              <div class="form-group">
                <label class="control-label" for="InputBlogArealist">博客区分类列表</label>
                <textarea class="form-control" rows="10" name="areainfo">{{ blog_arealist_json }}</textarea>
              </div>
               <div class="form-group">
                <label for="exampleInputPassword1">身份验证码</label>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-danger">提交</button>
               </div>
            </form>
            <form method="post" action="/nimda/set_game_arealist">
              <div class="form-group">
                <label class="control-label" for="InputGameArealist">游戏区分类列表</label>
                <textarea class="form-control" rows="10" name="areainfo">{{ game_arealist_json }}</textarea>
              </div>
               <div class="form-group">
                <label for="exampleInputPassword1">身份验证码</label>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-danger">提交</button>
               </div>
            </form>
          </div>
        </div>
        <div id="m_manage_area" class="panel panel-default">
          <div class="panel-body">
            {% for area in area_list %}
            <form method="post" action="/nimda/set_areainfo">
              <div class="form-group">
               <input type="hidden" name="areaid" value="{{ area['id'] }}"/>
               <label class="control-label" for="InputAreainfo"> {{ area["name"] }} </label>
               <textarea class="form-control" rows="5" name="areainfo">{{ area["value"] }}</textarea>
               <div class="form-group">
                <label for="exampleInputPassword1">身份验证码</label>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
              </div>
               <div class="form-group">
                 <button type="submit" class="btn btn-danger">提交</button>
               </div>
              </div>
            </form>
            {% end %}
          </div>
        </div>
        <div id="m_manage_user" class="panel panel-default">
          <div class="panel-body">
            你以为我会开放账号管理功能？等我找到女朋友再说！
          </div>
        </div>
      </main>
    </div>
  </div>
  <div class="container" id="preview_postpreview_page">
    <div class="row">
       <main class="col-md-8 main-content" id="preview_postpreview_main"> 
       </main>
       <aside class="col-md-4 sidebar">
        <div class="widget">
         <h4 class="title">博客专栏</h4>
          <div class="content community">
            {% for i in range(5) %}
              <p><a href="/blog/area/233333"> 分栏{{i}}</a></p>
            {% end %}
          </div>
        </div>
        <div class="widget">
         <h4 class="title">所有分类</h4>
          <div class="content community">
            {% for i in range(5) %}
              <p><a href="/blog/area/233333 }}"> 分类{{i}}</a></p>
            {% end %}
          </div>
        </div>
      </aside>
    </div>
  </div>
  <div class="container" id="preview_post_main">
    <div class="row">
       <main class="col-md-8 main-content" id="preview_postpreview_main"> 
       </main>
    </div>
  </div>
  
  {% include "footer_line.html" %}
  {% include "footer_js.html" %}
  {% include "latex_js.html" %}
  <script type="text/javascript">
  var editor_mode  = "{{ mode }}";
  if (editor_mode != "raw") {
      alert(editor_mode + "模式正在建设中...");
      window.history.back(-1);
  }
  var p_active_now = "#p_add_post";
  var m_active_now = "#m_add_post";
  var m_last_active = "";
  var m_now_preview = "";
  $("#m_add_area").hide();
  $("#m_manage_section").hide();
  $("#m_manage_area").hide();
  $("#m_manage_user").hide();
  $("#b_exit_preview").hide();

  $("#preview_post_main").hide();
  $("#preview_postpreview_page").hide();
   $(document).ready(function() {
      /* $("#b_manage_post").click(function() {
          $.getJSON("/get_post_json/" + $("#t_manage_post").val(), function(post) {
            if (post["prevcode"] == null || post["postcode"] == null) {
                alert("!");
            } else {
                console.debug(post);
            }
          });

      }); */

      $("#b_exit_preview").click(function() {
          $("#editor_page").fadeToggle();
          $(m_now_preview).fadeToggle();
          $("#b_exit_preview").fadeToggle();
      });
      $("#b_preview_postpreview").click(function() {
          $("#editor_page").fadeToggle();
          m_now_preview = "#preview_postpreview_page";
          $("#preview_postpreview_main").html($("#t_preview_code").val())
          $(m_now_preview).fadeToggle();
          $("#b_exit_preview").fadeToggle();
      });
      $("#b_preview_post").click(function() {
          $("#editor_page").fadeToggle();
          m_now_preview = "#preview_post_main";
          $("#preview_post_main").html($("#t_post_code").val())
          $(m_now_preview).fadeToggle();
          $("#b_exit_preview").fadeToggle();
      });

      $("#p_add_post").click(function() {
          $(m_active_now).fadeToggle();
          $(p_active_now).removeClass("active");
          p_active_now = "#p_add_post";
          m_active_now = "#m_add_post";
          $(m_active_now).fadeToggle();
          $(p_active_now).addClass("active");
      });
      $("#p_add_area").click(function() {
          $(m_active_now).fadeToggle();
          $(p_active_now).removeClass("active");
          p_active_now = "#p_add_area";
          m_active_now = "#m_add_area";
          $(m_active_now).fadeToggle();
          $(p_active_now).addClass("active");
      });
      $("#p_manage_area").click(function() {
          $(m_active_now).fadeToggle();
          $(p_active_now).removeClass("active");
          p_active_now = "#p_manage_area";
          m_active_now = "#m_manage_area";
          $(m_active_now).fadeToggle();
          $(p_active_now).addClass("active");
      });
      $("#p_manage_section").click(function() {
          $(m_active_now).fadeToggle();
          $(p_active_now).removeClass("active");
          p_active_now = "#p_manage_section";
          m_active_now = "#m_manage_section";
          $(m_active_now).fadeToggle();
          $(p_active_now).addClass("active");
      });
      $("#p_manage_user").click(function() {
          $(m_active_now).fadeToggle();
          $(p_active_now).removeClass("active");
          p_active_now = "#p_manage_user";
          m_active_now = "#m_manage_user";
          $(m_active_now).fadeToggle();
          $(p_active_now).addClass("active");
      });
   });
  </script>
 </body>
</html>
