{% autoescape None %}
<html>
 <head> 
 {% include "header.html" %}
 {% include "header_css.html" %}
 </head> 
 <body class="home-template"> 
  <header class="main-header"> 
   <div class="container"> 
    <div class="row"> 
     <div class="col-sm-12"> 
      <h1>plusplus7's blog</h1>  
      <h3>Life is tough, take it easy : )</h3> 
     </div> 
    </div> 
   </div> 
  </header> 
  <nav class="main-navigation"> 
   <div class="container"> 
    <div class="row"> 
     <div class="col-sm-12"> 
      <div class="navbar-header"> 
       <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu"> <span class="sr-only">Toggle navigation</span> <i class="fa fa-bars"></i> </span> 
      </div> 
      <div class="collapse navbar-collapse" id="main-menu"> 
       <ul class="menu"> 
         <li role="presentation"><a href="/"> 回到主页 </a></li> 
       </ul> 
      </div> 
     </div> 
    </div> 
   </div>
  </nav>
  <div class="container">
    <div class="row">
      <main class="col-md-12 main-content">
        {{ error_info }}
      </main>
    </div>
  </div>
  {% include "footer_line.html" %}
  {% include "footer_js.html" %}
  {% include "latex_js.html" %}
 </body>
</html>
