{% autoescape None %}
<html>
 <head> 
 {% include "header.html" %}
 {% include "header_css.html" %}
 </head> 
 <body class="home-template"> 
  <header class="main-header"> 
   <div class="container"> 
    <div class="row"> 
     <div class="col-sm-12"> 
      <h1>plusplus7's blog</h1>  
      <h3>Life is tough, take it easy : )</h3> 
     </div> 
    </div> 
   </div> 
  </header> 
  <nav class="main-navigation"> 
   <div class="container"> 
    <div class="row"> 
     <div class="col-sm-12"> 
      <div class="navbar-header"> 
       <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu"> <span class="sr-only">Toggle navigation</span> <i class="fa fa-bars"></i> </span> 
      </div> 
      <div class="collapse navbar-collapse" id="main-menu"> 
       <ul class="menu"> 
         <li role="presentation"><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;主&nbsp;&nbsp;页</a></li>
       {% for top in top_list %}
         <li role="presentation"><a href="/game/area/{{ top.category_id }}">{{ top.display_name }}</a></li> 
       {% end %}
         <li role="presentation"><a href="http://space.bilibili.com/1438242" target="_blank">Bilibili空间</a></li>
         <li role="presentation"><a href="http://i.youku.com/u/UMTQ0MjcxMzI=" target="_blank">优酷空间</a></li>
       </ul> 
      </div> 
     </div> 
    </div> 
   </div>
  </nav>
  <div class="container">
    <div class="row">
      <main class="col-md-8 main-content">
       {% for prev in prev_list %}
          {{ prev.preview }}
       {% end %}
      </main>
      <aside class="col-md-4 sidebar">
        <div class="widget">
         <h4 class="title">视频专栏</h4>
          <div class="content community">
            {% for side in side_list %}
              <p><a href="/game/area/{{ side.category_id }}"> {{ side.display_name }}</a></p>
            {% end %}
          </div>
        </div>
        <div class="widget">
         <h4 class="title">所有分类</h4>
          <div class="content community">
            {% for area in area_list %}
              <p><a href="/game/area/{{ area.category_id }}"> {{ area.display_name }}</a></p>
            {% end %}
          </div>
        </div>
      </aside>
    </div>
  </div>
  {% include "footer_line.html" %}
  {% include "footer_js.html" %}
  {% include "latex_js.html" %}
 </body>
</html>
